.movie-details-container {
  padding: 17px 10px;
}
.movie-details-container h1 {
  color: #fff;
  margin-bottom: 18px;
}
.form-movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 18px;
}
.form-movie-details form {
  width: 100%;
}
.review-submit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review-submit button {
  width: 280px;
  height: 50px;
  text-transform: uppercase;
}

.review-submit h5 {
  font-size: 20px;
}

.card-list-review {
  padding: 17px 10px 28px 10px;
}

@media (min-width: 768px) {
  .movie-details-container {
    padding: 40px;
  }

  .movie-details-container h1 {
    font-size: 48px;
    margin-bottom: 25px;
  }

  .form-movie-details {
    padding: 20px 17px;
    margin-bottom: 25px;
  }

  .card-list-review {
    padding-left: 17px;
    padding-right: 17px;
  }
}
